.plate {
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    /* text-align: -webkit-center; */
    height: 250px;
    align-content: center;

}

@media screen and (max-width: 360px) {

    .ingredient-selection {
        /* border: 1px solid black; */
        /* justify-content: space-between; */
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 20px;
        padding-left: 30px;
    }

    

}


.ingredient-selection {
    /* border: 1px solid black; */
    justify-content: center;
    margin-top: 20px;
}

.tomato {
    background-color: tomato;
    border-radius: 14px;
    /* background-color: #F13233; */
    height: 10px;
    width: 150px;
    border-bottom: 5px solid #940C0E;
    margin: 0 auto 0 auto;

}

.bun-button{
    background-color: #A27732;
}

.tomato-button{
    background-color: tomato;
}

.cheese {
    /* background-color: gold; */
    background-color: #E8EA02;
    border-radius: 10px;
    height: 10px;
    width: 170px;
    border-bottom: 5px solid #EAB902;
    margin: 0 auto 0 auto;

}

.bottom-bun {
    background-color: #A27732;
    border-radius: 10px 10px 50px 50px;
    width: 160px;
    height: 30px;
    border-bottom: 11px solid #724D12;
    margin: 0 auto 0 auto;

}

.top-bun {
    width: 160px;
    height: 30px;
    border-radius: 900px 900px 10px 10px;
    background-color: #A27732;
    border-top: 9px solid #906725;
    margin: 0 auto 0 auto;

}

.middle-bun {
    background-color: #A27732;
    border-radius: 10px 10px 10px 10px;
    width: 160px;
    height: 15px;
    border-bottom: 11px solid #724D12;
    margin: 0 auto 0 auto;
}

.lettuce {
    border-radius: 8px;
    background-color: #80D041;
    width: 160px;
    height: 8px;
    border-bottom: 3px solid #0F6D12;
    margin: 0 auto 0 auto;

}

.beef {
    width: 170px;
    border-radius: 15px;
    background-color: #603102;
    height: 13px;
    border-bottom: 16px solid #402408;
    margin: 0 auto 0 auto;

}

.onion {
    width: 150px;
    border-radius: 8px;
    background-color: #B95381;
    height: 13px;
    border-bottom: 4px solid #7E1846;
    margin: 0 auto 0 auto;

}